.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid rgb(218, 213, 213);
}

.search-bar {
  font-size: 20px;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo {
  height: 20px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  width: 0;
  font-size: 16px;
  border: 1px solid rgb(218, 213, 213);
  border-radius: 2px;
  box-shadow: inset 1px 1px 2px rgb(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
  padding-left: 10px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(218, 213, 213);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
}

.search-icon {
  height: 25px;
  margin-top: 4px;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.voice-search-icon {
  height: 24px;
  margin-top: 4px;
  background-color: rgb(245, 245, 245);
}

.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon {
  height: 22px;
}

.current-user-img {
  height: 32px;
  border-radius: 50%;
}
