p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-preview {
}

.thumbnail-row {
  margin-bottom: 12px;
}

.thumbnail {
  width: 100%;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.channel-img {
}

.profile-img {
  width: 35px;
  border-radius: 50px;
}

.video-info {
}

.video-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 12px;
}

.video-author {
  margin-bottom: 4px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
